@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

body {
    font-family: 'Urbanist';
    font-size: 20px;
    line-height: 62px;
    background: rgb(237, 190, 190);
    font-style: normal;
}
.timeline {
    margin: 0 auto;
    max-width: 750px ;
    padding: 25px;
    display: grid ;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Urbanist';
    color: white;
}
.timeline__component {
    margin: 0 20px 20px 20px;

}

.timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline__date--right {
    text-align: right;
}

.timeline__middle {
    position: relative;
    background: white;
}

.timeline__point {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-50);
    width: 15px ;
    height: 15px;
    background: white ;
    border-radius: 15px;
}


.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;

}
.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

h1{
    display: block;
    font-size: 2cm;
    margin-block-start: 0.67cm;
    margin-block-end: 0.67;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

h3{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    
    display: flex;
    justify-content:space-around;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  
  .projects, .social-media {
    list-style: none;
  }